<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>wz-hw1</title>
</head>
<body>
    <ul>
        <li><a class="logo" href="#">
          <img src="/images/logo.jpg" alt="logo">
        </a></li>
        <li><a class="active" href="#">南哪儿猫社区</a></li>
        <li><a class="button" href="#">猫猫地图</a></li>
        <li><a class="button" href="#">猫猫分布</a></li>
        <li><a class="button" href="#">猫猫科普</a></li>
        <li><a class="button" href="/watermark">猫猫水印</a></li>
        <li><a class="button" href="/transfer">猫猫风格迁移</a></li>
        <li style="width: 51%">
            <div class="header">
                南哪儿的贵族猫们
            </div>
        </li>
        <li><a class="login" onclick="logout()" style="cursor: pointer;">退出</a></li>
    </ul>
    
      
    <div class="masonry">
        <div class="item"><img onclick="display(10)" src="/images/10.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(9)" src="/images/9.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(8)" src="/images/8.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(7)" src="/images/7.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(6)" src="/images/6.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(5)" src="/images/5.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(4)" src="/images/4.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(3)" src="/images/3.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(2)" src="/images/2.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(1)" src="/images/1.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(11)" src="/images/11.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(12)" src="/images/12.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(13)" src="/images/13.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(14)" src="/images/14.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(15)" src="/images/15.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(16)" src="/images/16.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(17)" src="/images/17.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(18)" src="/images/18.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(19)" src="/images/19.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(20)" src="/images/20.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(21)" src="/images/21.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(22)" src="/images/22.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(23)" src="/images/23.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(24)" src="/images/24.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(25)" src="/images/25.jpg" alt="img" style="cursor:pointer;"></div>
        <div class="item"><img onclick="display(26)" src="/images/26.jpg" alt="img" style="cursor:pointer;"></div>
    </div>
    <script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>